{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class='text-center container'>
    <h2 style="font-family: 'Arial', sans-serif;"><b>Student Dictionary</b></h2>
    <p>Enter any word to get the phonetics, definition and an example for the word</p>
    <form action=" " method="post" class="d-flex justify-content-center align-items-center">
        {% csrf_token%}
        {{form}}
        <input class="btn btn-success ml-2" type="submit" value="Search">
    </form><br>
    <div class="content-section p-0 mt-5">

        {% if error %}
        <div class="alert-warning">{{ error }}</div>
        {% else %}
        

       {% if input %}
        <div class="custom-header">
            <h2>{{input}}</h2>
            <h6>{{phonetics}}</h6>

            {% if audio %}
            <audio id="player" src="{{ audio }}"></audio>
            <div>
                <a href="#" onclick="document.getElementById('player').play(); console.log('Play button clicked'); return false;">
                    <i class='fa fa-volume-up fa-2x'></i>
                </a>
            </div>
            {% else %}
            <p>No Audio is Available for this word.</p>
            {% endif %}
        </div>
        
        <hr class="p-0 m-0">

        <p class="float-left">
            <h4>Definition: {{definition}}</h4>
            {% if example %}
            <h4>Example: {{example}}</h4>
            {% else %}
            <p>No Example Available for this word.</p>
            {% endif %}
        </p>
      
        {% endif %}
        {% endif %}
    </div>
   
    
</section>
{% endblock content %}